.section4 {
  height: 576px;
  @media (width = "768px") {
    height: 605px;
  }
  @media (width < "768px") {
    //height: 531px; (pp )
    height: 563px;
  }
  margin-top: -19px;
  background: $white-color;
  &__prandcont {
    display: flex;
    justify-content: space-between;
    @media (width < "768px") {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    @media ("768px"<width < "1440px") {
      width: calc(86vw - 5%);
      margin: 0 auto;
    }
    @media (width = "768px") {
      width: 87vw;
    }
    &-prices {
      padding-top: 5px;
      & > h2 {
        margin: 0;
        margin-top: 34px;
        letter-spacing: 1px;
        width: 135px;
        height: 49px;
        font-family: "Inter";
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: $black-color;
        @media (width = "768px") {
          margin-left: 11px;
          letter-spacing: -1px;
        }
        @media (width < "768px") {
          margin-top: 12px;
          letter-spacing: 0px;
          width: 232px;
          font-size: 25px;
          text-align: center;
        }
      }
      &-block {
        width: 332px;
        height: 282.01px;
        border: 1px solid $grid-item-color;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 60px;
        @media (width = "768px") {
          height: 276.01px;
          margin-top: 54px;
        }
        @media (width < "768px") {
          width: 222px;
          height: 260px;
          margin-top: 26px;
          margin-left: 5px;
          padding-bottom: 15px;
          padding-top: 15px;
        }
        & > .block-item {
          width: 250px;
          height: 50px;
          background: $bg-color;
          border-radius: 20px;
          @media (width < "768px") {
            width: 180px;
          }
          & > .block-item-container {
            width: 165px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            font-family: "Inter";
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: $black-color;
          }
          &.active {
            background: $light-green-color;
            border-radius: 20px;
            height: 154px;
          }
          .basics {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 173px;
            height: inherit;
            padding-bottom: 4px;
            letter-spacing: 0.3px;
            @media (width < "768px") {
              width: 120px;
              padding-bottom: 0px;
              & > img {
                padding-right: 8px;
              }
            }
            & > p {
              margin: 0;
              @media (width < "768px") {
                font-size: 14px;
              }
            }
            & > img:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .dropdown {
      display: none;
      padding-bottom: 12px;
      font-family: "Inter";
      @media (width < "768px") {
        padding-left: 23px;
      }
      &__descr {
        margin: 0;
        font-weight: 300;
        font-size: 10px;
        line-height: 10px;
        color: $grey-color;
      }
      &__phour {
        font-size: 12px;
        & > .orange {
          font-weight: 700;
          color: $orange-color;
          & > span {
            font-size: 16px;
          }
        }
        &:nth-child(2) {
          font-weight: 400;
          color: $black-color;
        }
      }
      & > p {
        margin: 5px 0;
      }
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 86px;
        height: 25px;
        background: $white-color;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-weight: 800;
        font-size: 14px;
        line-height: 20px;
        & > a {
          text-decoration: none;
          color: #717171;
        }
      }
    }
    &-contacts {
      display: flex;
      justify-content: space-evenly;
      align-items: self-end;
      flex-direction: column;
      /* position: absolute;
          left: 1025px; */
      @media (width="768px") {
        padding-top: 99px;
      }
      @media (width<"768px") {
        align-items: center;
      }

      & > button {
        width: 162px;
        height: 50px;
        margin: 0;
        background: $white-color;
        border: 1px solid $orange-color;
        border-radius: 5px;
        font-family: "Inika";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        & > a {
          color: $orange-color;
          text-decoration: none;
          &:hover {
            color: $white-color;
          }
        }
        cursor: pointer;
        @media (width<"768px") {
          width: 121px;
          height: 35px;
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
        }
        &:hover {
          background: $orange-color;
        }
      }
      & > p {
        @media (width < "1440px") {
          font-size: calc(40px - 1rem);
          height: calc(103px + 1rem);
        }

        @media (width="768px") {
          font-size: 25px;
          line-height: 37px;
          width: 92.6%;
          margin-bottom: -5px;
          height: 106px;
        }

        margin: 0;
        letter-spacing: 0.49px;
        margin-top: 39px;
        margin-bottom: 38px;
        width: 57.6%;
        height: 103px;
        font-family: "Inter";
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
        text-align: right;
        color: $black-color;
        & > .green {
          color: $green-color;
        }
        @media (width<"768px") {
          font-size: 20px;
          font-weight: 700;
          line-height: 35px;
          margin: 0;
          margin: 0;
          letter-spacing: 0.49px;
          width: 73.6%;
          height: 90px;
          text-align: center;
          padding-top: 20px;
        }
        @media (width = "380px") {
          width: 77.6%;
        }
      }
      & > img {
        padding-top: 30px;
        @media (width<"768px") {
          display: none;
        }
      }
    }
  }
}
